*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.biggestbox{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1 1 auto;
}

.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 10px 150px;
    
}

ul{
    list-style-type: none;
    display: flex;
}

li{
    margin: 6px;
}

.logo{ 
    font-size: 22px;
}
    


.footer{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    background-color: #1F2937;
    color:#E5E7EB;
    align-content: center;
    padding: 30px;
}

.box1{
    display: flex;
    flex: 1 1 auto;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 20px 150px 100px 150px;
    gap: 10px;
}

.box2{
    display: flex;
    flex: 1 1 auto;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    padding: 100px 150px 100px 150px;
    flex-direction: column;
    gap: 40px;
}

.box3{
    display: flex;
    flex: 1 1 auto;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 700px;
    padding: 100px 150px 100px 150px;
}

.subject{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.smallerbox{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 10px;
}

.placeholder{
    background-color: #a1b0c4;
    color: black;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    min-width: 300px;
    min-width: 400px;
}

.button1{
    background-color: #3882F6;
    color: white;
    align-self: flex-start;
    border-radius: 10%;
    box-shadow: none;
    padding: 5px 15px;
}

.subtext{
    color: white;
    flex: 1 1 auto;
}

.infoheader{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cardholder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    gap: 25px;
}

.emptyborder{
    border-color: #3882F6;
    border-radius: 20%;
    border-width: 4px;
    border-style:solid;
    height: 100px;
    width: 100px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 100px;
    gap: 10px;
    text-align: center;

}

.quote-text{
    font-size: 30px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quoteattribute{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-weight: bolder;
}

.bluebox{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 1%;
    padding: 50px;
    min-width: 800px;
    gap: 600px;
    align-items: center;
}

.call{
    font-size: 36px;
    font-weight: bolder;
    color: white;
    flex: 1 1 0;
    
}

#button2{
    background-color: #3882F6;
    border-color: white;
    color: white;
    align-self: center;
}